*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /* background-color: rgb(28, 223, 77); */
    background-color: rgb(7, 7, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 1rem;
    padding: 2rem;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgb(150, 149, 149);
}

.textInput {
    padding: 13px 20px 0px;
    position: absolute;
    z-index: -99;
    opacity: 0;
}

.wrap {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 1rem;
}

.typingText {
    padding-bottom: 1.5rem;
    min-height: 150px;
}

.typingText p span{
    position: relative;
}

.typingText p span.active{
    background-color: rgb(7, 7, 37);
    color: white;
    outline: 1px solid rgb(7, 7, 37);
    font-weight: bold;
}

.typingText p span.correct{
    color: green;
    background-color: white;
    outline: none;
    font-weight: 500;
}

.typingText p span.incorrect{
    color: red;
    font-weight: bold;
    outline: none;
    background-color: rgb(250, 194, 194);
}
.contentBox {
    border-top: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.contentBox ul {
    list-style: none;
    display: flex;
    width: 76%;
    justify-content: space-between;

}

.contentBox ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentBox ul li span {
    margin-left: 3px;
}

.contentBox button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(7, 7, 37);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: transform .3s ease;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(7, 7, 37);
    transition: transform .4s ease;
}

.contentBox button:hover {
    transform: scale(1.05);
}

.contentBox button:active {
    transform: scale(0.86);
}

.mistakes span {
    color: red;
    font-weight: bold;
}

.timeLeft span b{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.wpm span {
    color: blue;
    font-weight: bold;
}

.cpm span {
    color: blue;
    font-weight: bold;
}

::selection {
    color: white;
    background-color: rgb(28, 223, 77);
}